produced for https://stackoverflow.com/questions/52142237/how-to-map-values-from-a-csv-file-in-an-efficient-way-with-pandas-dataframe/52142710#52142710

In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('data/RBefh.csv', dtype=str)

In [40]:
df

    to_replace        value_to_copy   to_search
0   2012000401   __import__.value_1  2012000401
1   2012000401   __import__.value_2  2012000501
2   2012000401   __import__.value_3  2012000601
3   2012000501   __import__.value_4  2012000603
4   2012000501   __import__.value_5  2012000604
5   2012000501   __import__.value_6  2012000605
6          NaN   __import__.value_7  2012000606
7   2012000501   __import__.value_8  2012000607
8   2012000501   __import__.value_9  2012000608
9   2012000501  __import__.value_10  2012000609
10         NaN  __import__.value_11  2012000610
11  2012000501  __import__.value_12  2012000701
12  2012000501  __import__.value_13  2012000702
13  2012000601                  NaN         NaN
14  2012000603                  NaN         NaN
15  2012000604                  NaN         NaN
16  2012000605                  NaN         NaN
17  2012000606                  NaN         NaN
18  2012000607                  NaN         NaN
19  2012000608                  NaN         NaN
20  2012000609                  NaN         NaN
21  2012000610                  NaN         NaN
22  2012000701                  NaN         NaN
23  2012000701                  NaN         NaN
24  2012000701                  NaN         NaN
25  2012000701                  NaN         NaN
26  2012000701                  NaN         NaN
27  2012000701                  NaN         NaN
28  2012000701                  NaN         NaN
29  2012999999                  NaN         NaN

In [41]:
keys = list(df['to_search'].dropna())
values = list(df['value_to_copy'].dropna())

In [42]:
map_values = dict(zip(keys, values))

In [43]:
map_values

{'2012000401': '__import__.value_1',
 '2012000501': '__import__.value_2',
 '2012000601': '__import__.value_3',
 '2012000603': '__import__.value_4',
 '2012000604': '__import__.value_5',
 '2012000605': '__import__.value_6',
 '2012000606': '__import__.value_7',
 '2012000607': '__import__.value_8',
 '2012000608': '__import__.value_9',
 '2012000609': '__import__.value_10',
 '2012000610': '__import__.value_11',
 '2012000701': '__import__.value_12',
 '2012000702': '__import__.value_13'}

In [44]:
mapper = df.to_replace.isin(map_values)

In [45]:
df.loc[mapper, 'to_replace'] = df.loc[mapper, 'to_replace'].apply(lambda row: map_values[row])

In [46]:
df.fillna('', inplace=True)

In [47]:
df

             to_replace        value_to_copy   to_search
0    __import__.value_1   __import__.value_1  2012000401
1    __import__.value_1   __import__.value_2  2012000501
2    __import__.value_1   __import__.value_3  2012000601
3    __import__.value_2   __import__.value_4  2012000603
4    __import__.value_2   __import__.value_5  2012000604
5    __import__.value_2   __import__.value_6  2012000605
6                         __import__.value_7  2012000606
7    __import__.value_2   __import__.value_8  2012000607
8    __import__.value_2   __import__.value_9  2012000608
9    __import__.value_2  __import__.value_10  2012000609
10                       __import__.value_11  2012000610
11   __import__.value_2  __import__.value_12  2012000701
12   __import__.value_2  __import__.value_13  2012000702
13   __import__.value_3
14   __import__.value_4
15   __import__.value_5
16   __import__.value_6
17   __import__.value_7
18   __import__.value_8
19   __import__.value_9
20  __import__.value_10
21  __import__.value_11
22  __import__.value_12
23  __import__.value_12
24  __import__.value_12
25  __import__.value_12
26  __import__.value_12
27  __import__.value_12
28  __import__.value_12
29           2012999999